/* ESTILO TABLA PROYECTOS */

.dataTables_wrapper {
    color: #555;
    font-weight: 300;
}

#tabla_dt_length {
	color: #ccc
}

#tabla_dt_filter {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	display: flex;
	font-family: 'Raleway', sans-serif;
	font-size: 16px
}

#tabla_dt_filter label {
	background: #ccc;
	border-radius: 50px;
	color: white;
	margin: 0 auto;
	width: 60%;
	display: block;
	line-height: 35px;
}

@media screen and (max-width: 540px) {
	#tabla_dt_filter label {
		width: 80%;
	}
}

#tabla_dt_filter input {
    width: 75%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px 50px 50px 0;
    font-size: 12px;
    background-image: url('../images/icono-lupa.png');
    background-size: 15px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding: 1px 50px 1px 20px;
    margin-left: 0px;
    color: #555;
    background-color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	outline: none;
	height: 35px;
	float: right
}

#tabla_dt_filter ::placeholder {
	opacity: .8;
	transition: .5s
}

#tabla_dt_filter input:focus::placeholder, #tabla_dt_filter input:hover::placeholder {
	opacity: .5
}

#tabla_dt {
    margin-bottom: 30px;
    padding-left: 20px;
    border: none;
    width: 100% !important;
}

#tabla_dt th {
    text-align: center;
    border: none;
    font-size: 14px;
    padding: 10px 18px !important;
    font-family: 'Lato', sans-serif;
}

#tabla_dt_wrapper td {
    vertical-align: middle;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #ddd !important;
    font-size: 14px;
    letter-spacing: normal;
    padding: 8px 10px !important;
}

#tabla_dt_wrapper #tabla_dt td {
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#tabla_dt_wrapper #tabla_dt td.proyecto {
    text-align: left;
}

#tabla_dt td a, body #tabla_dt td strong {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    word-break: normal;
}

#tabla_dt th:first-child, body #tabla_dt th:last-child {
	width: 15% !important
}

#tabla_dt td:nth-child(2) {
    text-align: inherit;
}

#tabla_dt_paginate span a, body #tabla_dt_length select {
	font-family: 'Lato', sans-serif;
}

#tabla_dt_paginate .paginate_button.current {
	font-weight: bold;
}

#tabla_dt ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block
}

.concepto::before, .informe_final::before, .cumplimiento::before {
    content: "\f1c1";
    font-family: "Font Awesome 5 Free";
    font-size: 15px;
    margin-right: 3px;
    color: #e96656
}


/* Columna (<td>) PROYECTO */
#tabla_dt .nombre-proyecto a {
    color: #e96656;
}
#tabla_dt .nombre-proyecto a:hover {
    text-decoration: underline !important;
    color: #e30613
}

#tabla_dt .autores {
    padding-right: 15px;
}

#tabla_dt .autores strong {
    font-weight: bold;
}

#tabla_dt .resumen {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: justify
}

#tabla_dt .resumen .certificado a {
    color: #e96656;
}
#tabla_dt .resumen .certificado a:hover {
    text-decoration: underline !important;
    color: #e30613
}

#tabla_dt .ver_mas {
	text-align: center;
	background: #eee;
	width: 80px;
	margin: 0 auto;
	margin-bottom: -8px;
	color: #aaa;
	font-size: 12px;
	transition: 1s;
	cursor: pointer;
	border-radius: 6px 6px 0 0
}
#tabla_dt .ver_mas a {
	color: #aaa;
	font-size: 12px;
	transition: 1s;
}
#tabla_dt .ver_mas:hover {
	background: #e30613;
}
#tabla_dt .ver_mas:hover a {
	color: #eee;
}

#tabla_dt .color-3 {
	transition: .5s;
	border-radius: 30px;
	text-align: center;
	padding: 1px 0
}
#tabla_dt tr:hover .color-3 {
	filter: saturate(200%)
}
#tabla_dt td:nth-child(2) .color-3 {
    padding: 5px 20px;
}


/* PANEL DE FILTROS */
.dtsp-verticalContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
 
.dtsp-verticalContainer .dtsp-verticalPanes, .dtsp-verticalContainer .dtsp-dataTable {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}
 
.dtsp-verticalContainer .dtsp-verticalPanes {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 10%;
    margin-top: 50px
}

#tabla_dt_wrapper .dtsp-verticalContainer .dtsp-verticalPanes td {
    font-family: 'Lato', sans-serif;
}
 
#tabla_dt_wrapper .dtsp-title {
    margin-left: 10px
}
 
#tabla_dt_wrapper .dtsp-search {
    padding-left: 0px;
    margin: 0px;
}
 
.dtsp-verticalContainer .dtsp-verticalPanes .dtsp-searchPanes {
    flex-direction: column;
    flex-basis: 0px;
}
 
.dtsp-verticalContainer .dtsp-verticalPanes .dtsp-searchPanes .dtsp-searchPane {
    flex-basis: 0px;
}
 
.dtsp-verticalContainer .dtsp-dataTable {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 70%;
}

/* Personalizado Propio */
.dtsp-searchPanes thead {
	display: none
}

#tabla_dt_wrapper .dtsp-clearAll {
	margin: 0;
    margin-top: 3px;
    color: #555
}

.dtsp-searchPanes .dataTable {
	border: none
}

.dtsp-searchPanes td {
	cursor: pointer;

}

.dtsp-searchPanes td:hover {
	background: #f0f0f0
}

#tabla_dt_wrapper .dataTable .selected {
    background-color: #f0f0f0;
}

#tabla_dt_wrapper .dtsp-selected {
    border: 2px solid #f0f0f0
}

#tabla_dt_filter {
	padding-left: 20px
}

#tabla_dt_wrapper .dtsp-pill {
	color: #aaa;
	background-color: white;
}


/****** Animacion Carga de Pagina ********/
#contenedor_carga {
    background: white;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
	position: fixed;
	z-index: 100000;
}

#carga {
	border: 13px solid #ccc;
	border-top-color: #e30613;
	border-top-style: groove;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	position: absolute;
	animation: girar 1.5s linear infinite;
}

.contenedor-logo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%
}

.contenedor-logo > img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-width: 150%;
}

@keyframes girar {
	from { transform: rotate(0deg)}
	to { transform: rotate(360deg)}
}


/* RESPONSIVE */
@media screen and (max-width: 1110px) {
    #tabla_dt_wrapper #tabla_dt {
        width: 90% !important
    }

    #tabla_dt_wrapper #tabla_dt_filter input {
        background-size: 13px;
        padding: 1px 30px 1px 20px;
    }
}

@media screen and (max-width: 995px) {
    #tabla_dt_wrapper .dtsp-verticalPanes {
    	width: 60% !important;
    	position: fixed;
    	top: 0;
    	right: 0;
    	background: white;
    	z-index: 101;
    	transform: translateX(100%);
    	transition: .5s;
    	height: 100vh;
    	margin-top: 0;
    	border-radius: 6px;
    	overflow-y: scroll;
    }

    .filtros_active #tabla_dt_wrapper .dtsp-verticalPanes {
    	transform: translateX(0)
    }

    #tabla_dt_wrapper .dtsp-panesContainer {
    	margin-top: 0;
    	border: none
    }

    .oscuro_filtros {
    	width: 100%;
    	background-color: rgb(50 0 0 / 80%);
    	height: 100vh;
    	position: fixed;
    	top: 0;
    	left: 0;
    	z-index: 101;
    	transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }

    .filtros_active .oscuro_filtros {
    	opacity: 1;
    	visibility: visible
    }

    #filtrar {
    	position: absolute;
    	top: -50px;
    	right: 40px;
    	border-radius:10px;
    	border: none;
    	background: none;
    	color: #888;
    	transition: .5s;
    	display: flex;
    	align-items: center
    }

    #filtrar:hover {
    	color: #e30613
    }

    #tabla_dt {
        padding-left: 0px;
    }

    #tabla_dt_filter {
        padding-left: 0px;
        margin-top: 0;
    }

    .dataTables_scrollBody {
	    height: 170px !important;
    }
}

@media screen and (min-width: 995px) {
    .dataTables_scrollBody {
	    height: 100% !important;
    }
	
    #filtrar {
        display: none
    }

}

@media screen and (max-width: 770px) {
    #tabla_dt td:first-child, #tabla_dt th:first-child, #tabla_dt td:last-child, #tabla_dt th:last-child {
        display: none
    }

    .proyecto {
    	position: relative;
    	overflow-x: hidden
    }
    .proyecto .color-3 {
    	position: absolute;
    	top: 0;
    	right: 0;
    	visibility: hidden;
    	transition: .5s;
    	opacity: 0;
    	transform: translateX(100%);
    	width: 150px;
    	cursor: pointer
    }
    .estado-responsive {
    	content: "";
    	border: 4px solid;
    	padding: 5px;
    	position: absolute;
    	top: 10px;
    	right: 10px;
    	border-radius: 100%;
    	cursor: pointer;
    }
    .estado-responsive:hover .color-3 {
    	visibility: visible;
    	opacity: 1;
    	transform: translateX(0)
    }
    #tabla_dt .autores, #tabla_dt .nombre-proyecto {
    padding-right: 25px;
}
}

@media screen and (min-width: 770px) {
    .estado-responsive {
        display: none
    }
}