#proyecto-individual {
	font-family: 'Lato', sans-serif;
	color: #555;
	font-size: 18px
}

body #proyecto-individual a, body #proyecto-individual p, body #proyecto-individual li, body #proyecto-individual strong {
	font-family: 'Lato', sans-serif;
	font-size: 18px
}

#proyecto-individual ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

#proyecto-individual .col-sm-8 hr {
	margin-top: 30px;
	margin-bottom: 30px
}

body #proyecto-individual a {
    color: #e96656;
}

body #proyecto-individual a:hover {
	text-decoration: underline !important;
	color: #e30613
}

.id {
	margin-top: 30px
}

#proyecto-individual .proyecto {
	padding-bottom: 15px;
    margin: 40px 0 0;
    border-bottom: 1px solid #eee;
    color: #e96656;
    font-family: 'Lato', sans-serif;
}

.autores {
	padding-right: 15px
}

.resumen {
	text-align: justify
}

.area p {
	text-transform: lowercase;
	display: inline-block;
}
.area p:first-letter {
	text-transform: uppercase;
}

.estado p {
	transition: .5s;
	border-radius: 30px;
	padding: 0 20px;
	text-align: center;
	text-transform: lowercase;
	display: inline-block
}
.estado p:first-letter {
	text-transform: uppercase;
}
.color-3:hover {
	filter: saturate(200%)
}

.area, .estado {
	margin: 0 0 15px;
}

.concepto::before, .informe_final::before, .cumplimiento::before {
    content: "\f1c1";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    margin-right: 3px;
    color: #e96656
}

/****** Animacion Carga de Pagina ********/
#contenedor_carga {
    background: white;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
	position: fixed;
	z-index: 100000;
}

#carga {
	border: 13px solid #ccc;
	border-top-color: #e30613;
	border-top-style: groove;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	position: absolute;
	animation: girar 1.5s linear infinite;
}

.contenedor-logo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%
}

.contenedor-logo > img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-width: 150%;
}

@keyframes girar {
	from { transform: rotate(0deg)}
	to { transform: rotate(360deg)}
}